<div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>查询条件</h5>
                    <div class="ibox-tools" style="top:10px;">

                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" placeholder="请输入编号" v-model="dbManageInfo.conditions.dbId" class=" form-control">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" placeholder="请输入名称" v-model="dbManageInfo.conditions.name" class=" form-control">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <input type="text" placeholder="请输入ip" v-model="dbManageInfo.conditions.ip" class=" form-control">
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="btn btn-primary btn-sm" v-on:click="_queryDbMethod()">
                                    <i class="glyphicon glyphicon-search"></i> 查询
                            </button>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>数据库信息</h5>
                    <div class="ibox-tools" style="top:10px;">
                        <button type="button" class="btn btn-primary btn-sm" v-on:click="_openAddDbModal()">
                            <i class="glyphicon glyphicon-plus"></i>
                            添加
                        </button>
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                        <thead>
                            <tr>
                                <!-- <th class="text-center">编号</th> -->
                                <th class="text-center">名称</th>
                                <th class="text-center">ip</th>
                                <th class="text-center">端口</th>
                                <th class="text-center">用户名</th>
                                <th class="text-center">密码</th>
                                <th class="text-center">数据库</th>
                                <th class="text-center">创建时间</th>
                                <th class="text-center">操作</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="db in dbManageInfo.dbs">
                                <!-- <td class="text-center">{{db.dbId}}</td> -->
                                <td class="text-center">{{db.name}}</td>
                                <td class="text-center">{{db.ip}}</td>
                                <td class="text-center">{{db.port}}</td>
                                <td class="text-center">{{db.username}}</td>
                                <td class="text-center">******</td>
                                <td class="text-center">{{db.dbName}}</td>
                                <td class="text-center">{{db.createTime}}</td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <button class="btn-white btn btn-xs" v-on:click="_openEditDbModel(db)">修改</button>
                                    </div>
                                    <div class="btn-group">
                                        <button class="btn-white btn btn-xs" v-on:click="_openDeleteDbModel(db)">删除</button>
                                    </div>
                                </td>

                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7">
                                    <ul class="pagination float-right"></ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <!-- 分页 -->
                    <vc:create path="frame/pagination"></vc:create>
                </div>
            </div>
        </div>
    </div>



    <vc:create path="admin/addDb" callBackListener="" callBackFunction=""></vc:create>
    <vc:create path="admin/editDb"></vc:create>
    <vc:create path="admin/deleteDb"></vc:create>

</div>