<div id="viewBusinessImagesVersModel" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="viewBusinessImagesVersModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="viewBusinessImagesVersModelLabel">镜像版本</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class=" row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="table-responsive" style="margin-top:15px">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center">镜像名称</th>
                                            <th class="text-center">版本</th>
                                            <th class="text-center">版本地址</th>
                                            <th class="text-center">构建时间</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="ver in viewBusinessImagesVersInfo.vers">
                                            <td class="text-center">{{ver.name}}</td>
                                            <td class="text-center">{{ver.version}}</td>
                                            <td class="text-center">{{ver.typeUrl}}</td>
                                            <td class="text-center">{{ver.createTime}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <vc:create path="frame/paginationPlus" namespace="viewBusinessImagesVers"></vc:create>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>