<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>ftp信息</h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" v-if="viewFtpInfo.index != 2" class="btn btn-primary btn-sm" style="margin-right:10px;"  v-on:click="_openSelectFtpInfoModel()">
                        <i class="glyphicon glyphicon-search"></i> 选择ftp</button>

                    <button type="button" v-if="viewFtpInfo.index != 2" class="btn btn-primary btn-sm" v-on:click="_openAddFtpInfoModel()">
                        <i class="glyphicon glyphicon-plus"></i> 添加ftp</button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >名称：</label>
                            <label class="">{{viewFtpInfo.name}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >IP：</label>
                            <label class="">{{viewFtpInfo.ip}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >端口：</label>
                            <label class="">{{viewFtpInfo.port}}</label>
                        </div>
</div>
</div>
<div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >用户名：</label>
                            <label class="">{{viewFtpInfo.username}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >密码：</label>
                            <label class="">{{viewFtpInfo.passwd}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >路径'：</label>
                            <label class="">{{viewFtpInfo.path}}</label>
                        </div>
</div>
</div>

            </div>
        </div>
    </div>

    <vc:create path="admin/addFtp"
               callBackListener="viewFtpInfo"
               callBackFunction="chooseFtp"
    ></vc:create>


    <vc:create path="admin/chooseFtp"
               emitChooseFtp="viewFtpInfo"
               emitLoadData="viewFtpInfo"
    ></vc:create>
</div>
