<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>资源备份信息</h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" v-if="viewBackupInfo.index != 2" class="btn btn-primary btn-sm" style="margin-right:10px;"  v-on:click="_openSelectBackupInfoModel()">
                        <i class="glyphicon glyphicon-search"></i> 选择资源备份</button>

                    <button type="button" v-if="viewBackupInfo.index != 2" class="btn btn-primary btn-sm" v-on:click="_openAddBackupInfoModel()">
                        <i class="glyphicon glyphicon-plus"></i> 添加资源备份</button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >名称：</label>
                            <label class="">{{viewBackupInfo.name}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >执行时间：</label>
                            <label class="">{{viewBackupInfo.execTime}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >类型：</label>
                            <label class="">{{viewBackupInfo.typeCd}}</label>
                        </div>
</div>
</div>
<div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >备份编号：</label>
                            <label class="">{{viewBackupInfo.srcId}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >备份对象：</label>
                            <label class="">{{viewBackupInfo.srcObject}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >目标：</label>
                            <label class="">{{viewBackupInfo.targetId}}</label>
                        </div>
</div>
</div>

            </div>
        </div>
    </div>

    <vc:create path="admin/addBackup"
               callBackListener="viewBackupInfo"
               callBackFunction="chooseBackup"
    ></vc:create>


    <vc:create path="admin/chooseBackup"
               emitChooseBackup="viewBackupInfo"
               emitLoadData="viewBackupInfo"
    ></vc:create>
</div>
