<div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>查询条件</h5>
                    <div class="ibox-tools" style="top:10px;">

                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" placeholder="请输入名称" v-model="appVersionManageInfo.conditions.name"
                                    class=" form-control">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" placeholder="请输入版本ID" v-model="appVersionManageInfo.conditions.avId"
                                    class=" form-control">
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="btn btn-primary btn-sm" v-on:click="_queryAppVarMethod()">
                                <i class="glyphicon glyphicon-search"></i> 查询
                            </button>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>版本信息</h5>
                    <div class="ibox-tools" style="top:10px;">
                        
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                        <thead>
                            <tr>
                                <th class="text-center">名称</th>
                                <th class="text-center">描述</th>
                                <th class="text-center">最新版本号</th>
                                <th class="text-center">创建时间</th>
                                <th class="text-center">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="appVar in appVersionManageInfo.appVersions">
                                <td class="text-center">{{appVar.name}}</td>
                                <td class="text-center">{{appVar.remark}}</td>
                                <td class="text-center">{{appVar.version}}</td>
                                <td class="text-center">{{appVar.createTime}}</td>
                                <td class="text-center">
                                   
                                    <div class="btn-group">
                                        <button class="btn-white btn btn-xs"
                                            v-on:click="_openDeleteAppVarModel(appVar)">删除</button>
                                    </div>
                                </td>

                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7">
                                    <ul class="pagination float-right"></ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <!-- 分页 -->
                    <vc:create path="frame/pagination"></vc:create>
                </div>
            </div>
        </div>
    </div>

</div>