<div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>查询条件</h5>
                    <div class="ibox-tools" style="top:10px;">

                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" placeholder="请输入源ip" v-model="wafAccessLogInfo.conditions.xRealIp" class=" form-control">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" placeholder="请输入访问协议" v-model="wafAccessLogInfo.conditions.scheme" class=" form-control">
                        </div>
                        <div class="col-sm-3">
                            <input type="text" placeholder="请输入请求域名" v-model="wafAccessLogInfo.conditions.httpHost" class=" form-control">
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="btn btn-primary btn-sm" v-on:click="_queryMonitorHostGroupMethod()">
                                <i class="glyphicon glyphicon-search"></i> 查询
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>waf日志</h5>
                    <div class="ibox-tools" style="top:10px;">

                    </div>
                </div>
                <div class="ibox-content">

                    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                        <thead>
                            <tr>
                                <!-- <th class="text-center">编号</th> -->
                                <th class="text-center">交易流水</th>
                                <th class="text-center">访问时间</th>
                                <th class="text-center">waf ip</th>
                                <th class="text-center">源ip</th>
                                <th class="text-center">地理位置</th>
                                <th class="text-center">访问协议</th>
                                <th class="text-center">访问域名</th>
                                <th class="text-center">http method</th>
                                <th class="text-center">返回状态</th>
                                <th class="text-center">url</th>
                                <th class="text-center">应用地址</th>
                                <th class="text-center">请求大小</th>
                                <th class="text-center">返回大小</th>
                                <th class="text-center">状态</th>
                                <th class="text-center">说明</th>

                                <th class="text-right">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="log in wafAccessLogInfo.logs">
                                <!-- <td class="text-center">{{trace.id}}</td> -->
                                <td class="text-center">
                                    <div style="word-break:break-all;word-wrap:break-word; width:150px">{{log.requestId}}</div>
                                </td>
                                <td class="text-center">{{log.createTime}}</td>
                                <td class="text-center">{{log.wafIp}}</td>
                                <td class="text-center">{{log.xRealIp}}</td>
                                <td class="text-center">
                                    <div style="word-break:break-all;word-wrap:break-word; width:150px">{{log.country}}({{log.ipAddress}})</div>
                                </td>
                                <td class="text-center">{{log.scheme}}</td>
                                <td class="text-center">{{log.httpHost}}</td>
                                <td class="text-center">{{log.method}}</td>
                                <td class="text-center">{{log.responseCode}}</td>
                                <td class="text-center">
                                    <div style="word-break:break-all;word-wrap:break-word; width:150px">{{log.url}}</div>
                                </td>
                                <td class="text-center">
                                    <div style="word-break:break-all;word-wrap:break-word; max-width:150px">{{log.upstreamAddr}}</div>
                                </td>
                                <td class="text-center">{{log.requestLength}}</td>
                                <td class="text-center">{{log.responseLength}}</td>
                                <td class="text-center">{{log.state}}</td>
                                <td class="text-center">{{log.message}}</td>


                                <td class="text-right">
                                    <div class="btn-group">
                                        <button class="btn-white btn btn-xs" v-on:click="_toTraceDetail(trace)">
                                            加入黑名单
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7">
                                    <ul class="pagination float-right"></ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <!-- 分页 -->
                    <vc:create path="frame/pagination"></vc:create>
                </div>
            </div>
        </div>
    </div>

</div>