<div id="editAppServiceModel" class="modal fade" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b ">修改</h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">应用名称</label>
                                <div class="col-sm-10">
                                    <input v-model="editAppServiceInfo.asName" type="text" placeholder="必填，请填写应用名称" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">服务类型</label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="editAppServiceInfo.asType">
                                        <option selected disabled value="">必填，请选择服务类型</option>
                                        <option value="001">数据库</option>
                                        <option value="002">缓存</option>
                                        <option value="003">计算应用</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">副本数</label>
                                <div class="col-sm-10">
                                    <input v-model="editAppServiceInfo.asCount" type="text" placeholder="必填，请填写应用名称" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">应用组</label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="editAppServiceInfo.asGroupId">
                                        <option selected disabled value="">必填，请选择应用组</option>
                                        <option :value="item.avgId" v-for="(item,index) in editAppServiceInfo.asGroups">{{item.avgName}}</option>
                                    </select>
                                </div>
                            </div>
    
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">镜像</label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="editAppServiceInfo.imagesId">
                                        <option selected disabled value="">必填，请选择镜像</option>
                                        <option :value="item.id" v-for="(item,index) in editAppServiceInfo.images">{{item.name}}:{{item.version}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">服务描述</label>
                                <div class="col-sm-10">
                                    <textarea v-model="editAppServiceInfo.asDesc" placeholder="必填，请填写服务描述" class="form-control"></textarea>
                                </div>
                            </div>

                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button"
                                    v-on:click="editAppService()"><i class="fa fa-check"></i>&nbsp;保存</button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                                    data-dismiss="modal">取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>