<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>组网访问信息</h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" v-if="viewInnerNetPrivilegeInfo.index != 2" class="btn btn-primary btn-sm" style="margin-right:10px;"  v-on:click="_openSelectInnerNetPrivilegeInfoModel()">
                        <i class="glyphicon glyphicon-search"></i> 选择组网访问</button>

                    <button type="button" v-if="viewInnerNetPrivilegeInfo.index != 2" class="btn btn-primary btn-sm" v-on:click="_openAddInnerNetPrivilegeInfoModel()">
                        <i class="glyphicon glyphicon-plus"></i> 添加组网访问</button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >用户：</label>
                            <label class="">{{viewInnerNetPrivilegeInfo.srcUserId}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >主机：</label>
                            <label class="">{{viewInnerNetPrivilegeInfo.targetUserId}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >端口'：</label>
                            <label class="">{{viewInnerNetPrivilegeInfo.targetPort}}</label>
                        </div>
</div>
</div>

            </div>
        </div>
    </div>

    <vc:create path="admin/addInnerNetPrivilege"
               callBackListener="viewInnerNetPrivilegeInfo"
               callBackFunction="chooseInnerNetPrivilege"
    ></vc:create>


    <vc:create path="admin/chooseInnerNetPrivilege"
               emitChooseInnerNetPrivilege="viewInnerNetPrivilegeInfo"
               emitLoadData="viewInnerNetPrivilegeInfo"
    ></vc:create>
</div>
