<div id="editWafCCModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b ">修改</h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">安全组</label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="editWafCCInfo.groupId">
                                        <option selected disabled value="">必填，请选择安全组</option>
                                        <option :value="item.groupId" v-for="(item,index) in editWafCCInfo.wafRuleGroups">{{item.groupName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">访问地址</label>
                                <div class="col-sm-10">
                                    <input v-model="editWafCCInfo.path" type="text" placeholder="必填，请填写访问地址"
                                        class="form-control">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">限速频率</label>
                                <div class="col-sm-5">
                                    <input v-model="editWafCCInfo.visitCount" type="text" placeholder="必填，请填写访问次数"
                                        class="form-control">
                                </div>
                                <div class="col-sm-5">
                                    <input v-model="editWafCCInfo.visitSec" type="text" placeholder="必填，请填写时间范围（秒）"
                                        class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">阻断时间</label>
                                <div class="col-sm-10">
                                    <input v-model="editWafCCInfo.blockSec" type="number" placeholder="必填，请填写阻断时间（秒）"
                                        class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">优先级</label>
                                <div class="col-sm-10">
                                  <input v-model="editWafCCInfo.seq" type="number" placeholder="必填，请填写优先级" class="form-control">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-sm-2 col-form-label">状态</label>
                                <div class="col-sm-10">
                                  <select class="custom-select" v-model="editWafCCInfo.state">
                                    <option selected disabled value="">必填，请选择状态</option>
                                    <option value="start">启用</option>
                                    <option value="stop">暂停</option>
                                  </select>
                                </div>
                              </div>

                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button" v-on:click="editWafCC()"><i class="fa fa-check"></i>&nbsp;保存</button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;" data-dismiss="modal">取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>