<div id="viewDbDataModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b ">数据详情</h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div v-if="viewDbDataInfo.view == 'form'">
                                <div class="form-group row" v-for="(item,index) in viewDbDataInfo.dataCols">
                                    <label class="col-sm-2 col-form-label">{{item.name}}</label>
                                    <div class="col-sm-10">
                                        <input v-model="item.value" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div v-else>
                                <textarea v-model="viewDbDataInfo.sql" rows="15" class="form-control">
                                </textarea>
                            </div>
                            <div class="ibox-content">
                                <button type="button" class="btn btn-warning float-right margin-right-sm"
                                    style="margin-right:20px;" data-dismiss="modal">取消</button>
                                <button class="btn btn-primary float-right  margin-right-sm" type="button"
                                    @click="_copyDeleteSql()">删除语句</button>
                                <button class="btn btn-primary float-right  margin-right-sm" type="button"
                                    @click="_copyUpdateSql()">修改语句</button>
                                <button class="btn btn-primary float-right  margin-right-sm copy-insert"
                                    type="button" @click="_copyInsertSql()">新增语句</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>