<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>db信息</h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" v-if="viewDbInfo.index != 2" class="btn btn-primary btn-sm" style="margin-right:10px;"  v-on:click="_openSelectDbInfoModel()">
                        <i class="glyphicon glyphicon-search"></i> 选择db</button>

                    <button type="button" v-if="viewDbInfo.index != 2" class="btn btn-primary btn-sm" v-on:click="_openAddDbInfoModel()">
                        <i class="glyphicon glyphicon-plus"></i> 添加db</button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >名称：</label>
                            <label class="">{{viewDbInfo.name}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >ip：</label>
                            <label class="">{{viewDbInfo.ip}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >端口：</label>
                            <label class="">{{viewDbInfo.port}}</label>
                        </div>
</div>
</div>
<div class="row">
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >用户名：</label>
                            <label class="">{{viewDbInfo.username}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >密码：</label>
                            <label class="">{{viewDbInfo.password}}</label>
                        </div>
</div>
<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" >数据库：</label>
                            <label class="">{{viewDbInfo.dbName}}</label>
                        </div>
</div>
</div>

            </div>
        </div>
    </div>

    <vc:create path="admin/addDb"
               callBackListener="viewDbInfo"
               callBackFunction="chooseDb"
    ></vc:create>


    <vc:create path="admin/chooseDb"
               emitChooseDb="viewDbInfo"
               emitLoadData="viewDbInfo"
    ></vc:create>
</div>
