<div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>查询条件</h5>
                    <div class="ibox-tools" style="top:10px;">

                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" placeholder="请输入编号" v-model="backupManageInfo.conditions.id" class=" form-control">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" placeholder="请输入名称" v-model="backupManageInfo.conditions.name" class=" form-control">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <select class="custom-select" v-model="backupManageInfo.conditions.typeCd">
                                    <option selected  value="">请选择类型</option>
                                    <option  value="10001">数据库备份</option>
                                    <option  value="10002">文件夹备份</option>
                            </select>
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="btn btn-primary btn-sm" v-on:click="_queryBackupMethod()">
                                    <i class="glyphicon glyphicon-search"></i> 查询
                            </button>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>资源备份</h5>
                    <div class="ibox-tools" style="top:10px;">
                        <button type="button" class="btn btn-primary btn-sm" v-on:click="_openAddBackupModal()">
                            <i class="glyphicon glyphicon-plus"></i>
                            添加
                        </button>
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                        <thead>
                            <tr>
                                <!-- <th class="text-center">编号</th> -->
                                <th class="text-center">名称</th>
                                <th class="text-center">执行时间</th>
                                <th class="text-center">源类型</th>
                                <th class="text-center">备份编号</th>
                                <th class="text-center">目标类型</th>
                                <th class="text-center">目标</th>
                                <th class="text-center">创建时间</th>
                                <th class="text-center">备份时间</th>
                                <th class="text-center">状态</th>
                                <th class="text-center">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="backup in backupManageInfo.backups">
                                <!-- <td class="text-center">{{backup.id}}</td> -->
                                <td class="text-center">{{backup.name}}</td>
                                <td class="text-center">{{_getExecTime(backup.execTime)}}</td>
                                <td class="text-center">{{backup.typeCd == '10001'?'数据库':'文件夹'}}</td>
                                <td class="text-center">{{backup.srcName}}</td>
                                <td class="text-center">{{_getTargetTypeCdName(backup)}}</td>
                                <td class="text-center">{{backup.targetName}}</td>
                                <th class="text-center">{{backup.createTime}}</th>
                                <th class="text-center">{{backup.backTime}}</th>
                                <td class="text-center">{{backup.state == 'STOP'?'停止':'启动'}}</td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <button class="btn-white btn btn-xs" v-on:click="_openEditBackupModel(backup)">修改</button>
                                    </div>
                                    <div class="btn-group" v-if="backup.state == 'STOP'">
                                        <button class="btn-white btn btn-xs" v-on:click="_openDeleteBackupModel(backup)">删除</button>
                                    </div>
                                </td>

                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7">
                                    <ul class="pagination float-right"></ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <!-- 分页 -->
                    <vc:create path="frame/pagination"></vc:create>
                </div>
            </div>
        </div>
    </div>



    <vc:create path="admin/addBackup" callBackListener="" callBackFunction=""></vc:create>
    <vc:create path="admin/editBackup"></vc:create>
    <vc:create path="admin/deleteBackup"></vc:create>

</div>