<div class="modal fade" id="uninstallImagesModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">请确认您的操作!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <tr align="center">
                    <th>确定卸载软件，请记得备份数据，卸载后数据可能会丢失</th>
                </tr>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" v-on:click="closeUninstallImagesModel()">点错了</button>
                <button type="button" class="btn btn-primary" v-on:click="_uninstallImages()">卸载</button>
            </div>
        </div>
    </div>
</div>