<div id="chooseHostContainerModel" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="chooseHostContainerModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="chooseHostContainerModelLabel">选择容器</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class=" row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="table-responsive" style="margin-top:15px">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center">容器ID</th>
                                            <th class="text-center">主机</th>
                                            <th class="text-center">IP</th>
                                            <th class="text-center">说明</th>
                                            <th class="text-center">检测时间</th>
                                            <th class="text-center">创建时间</th>
                                            <th class="text-center">操作</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="container in chooseHostContainerInfo.containers">

                                            <td class="text-center" style="width:250px;word-break: break-all;">
                                                {{container.dockerContainerId}}</td>
                                            <td class="text-center">{{container.hostname}}</td>
                                            <td class="text-center">{{container.ip}}</td>
                                            <td class="text-center">{{container.message}}</td>
                                            <td class="text-center">{{container.updateTime}}</td>
                                            <td class="text-center">{{container.createTime}}</td>
                                            <td class="text-center">
                                                <button class="btn btn-primary btn-xs"
                                                    v-on:click="chooseHostContainer(container)">查看</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>