<div id="editOssModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b ">修改oss</h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">名称</label>
                                <div class="col-sm-10">
                                    <input v-model="editOssInfo.name" type="text" placeholder="必填，请填写名称" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">类型</label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="editOssInfo.ossType">
         <option selected  disabled value="">必填，请选择类型</option>
         <option  value="10001">阿里OSS</option>
  </select> </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">bucket</label>
                                <div class="col-sm-10">
                                    <input v-model="editOssInfo.bucket" type="text" placeholder="必填，请填写bucket" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">access_key_secret</label>
                                <div class="col-sm-10">
                                    <input v-model="editOssInfo.accessKeySecret" type="text" placeholder="必填，请填写access_key_secret" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">access_key_id</label>
                                <div class="col-sm-10">
                                    <input v-model="editOssInfo.accessKeyId" type="text" placeholder="必填，请填写access_key_id" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">endpoint</label>
                                <div class="col-sm-10">
                                    <input v-model="editOssInfo.endpoint" type="text" placeholder="必填，请填写endpoint" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">路劲</label>
                                <div class="col-sm-10">
                                    <input v-model="editOssInfo.path" type="text" placeholder="必填，请填写路劲" class="form-control">
                                </div>
                            </div>

                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button" v-on:click="editOss()"><i class="fa fa-check"></i>&nbsp;保存</button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;" data-dismiss="modal">取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>