<div>
    <div>
        <table class="footable table table-stripped toggle-arrow-tiny" style="margin-top:10px" data-page-size="10">
            <thead>
                <tr>
                    <th>容器ID</th>
                    <th data-hide="phone">容器名称</th>
                    <th data-hide="phone">镜像</th>
                    <th data-hide="phone">端口映射</th>
                    <th class="text-right">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="container in hostContainersInfo.containers">
                    <td>
                        {{container.containerId}}
                    </td>
                    <td>
                        {{container.containerName}}
                    </td>
                    <td>
                        {{container.image}}
                    </td>
                    <td>
                        {{container.port}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group" >
                            <button class="btn-white btn btn-xs"
                                v-on:click="_deleteCarParkingSpace(container)">进入容器</button>
                        </div>
                        <div class="btn-group" >
                            <button class="btn-white btn btn-xs"
                                v-on:click="_addCarParkingSpace(container)">查看日志</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>