<div id="editAppVarModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b ">修改环境变量</h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">变量名</label>
                                <div class="col-sm-10">
                                    <input v-model="editAppVarInfo.varName" type="text" placeholder="必填，请填写变量名"
                                        class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">变量编码</label>
                                <div class="col-sm-10">
                                    <input v-model="editAppVarInfo.varSpec" type="text" placeholder="必填，请填写变量编码"
                                        class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">变量组</label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="editAppVarInfo.avgId">
                                        <option selected disabled value="">必填，请选择变量组</option>
                                        <option :value="item.avgId" v-for="(item,index) in editAppVarInfo.appVarGroups">{{item.avgName}}</option>

                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">变量类型</label>
                                <div class="col-sm-10">
                                    <select class="custom-select" v-model="editAppVarInfo.varType">
                                        <option selected disabled value="">必填，请选择变量类型</option>
                                        <option value="1001">系统变量</option>
                                        <option value="2002">普通变量</option>
                                    </select>
                                </div>
                            </div>

                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button" v-on:click="editAppVar()"><i
                                        class="fa fa-check"></i>&nbsp;保存</button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                                    data-dismiss="modal">取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>