<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5>快速部署</h5>
                <div class="ibox-tools" style="top:10px;">
                    <button type="button" class="btn btn-white btn-sm" v-on:click="_openFasterDeployLog()">
                            部署记录
                   </button>
                </div>
            </div>
            <div class="ibox-content">
                <div>
                    <div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">应用组</label>
                            <div class="col-sm-10">
                                <select class="custom-select" v-model="fasterDeployInfo.asGroupId">
                                    <option selected disabled value="">必填，请选择应用组</option>
                                    <option :value="item.avgId" v-for="(item,index) in fasterDeployInfo.asGroups">{{item.avgName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">应用名称</label>
                            <div class="col-sm-10">
                                <input v-model="fasterDeployInfo.appName" type="text" placeholder="必填，请填写应用名称" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">服务类型</label>
                            <div class="col-sm-10">
                                <select class="custom-select" v-model="fasterDeployInfo.deployType">
                                    <option selected disabled value="">必填，请选择服务类型</option>
                                    <option value="java">java项目</option>
                                    <option value="common">普通项目</option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">部署方式</label>
                            <div class="col-sm-10">
                                <select class="custom-select" v-model="fasterDeployInfo.asDeployType">
                                    <option selected disabled value="">必填，请选择部署方式</option>
                                    <option value="1001">多主机</option>
                                    <option value="2002">单主机</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">主机组</label>
                            <div class="col-sm-10">
                                <select class="custom-select" v-model="fasterDeployInfo.groupId" @change="_changeHostGroup()">
                                    <option selected disabled value="">必填，请选择主机组</option>
                                    <option :value="item.groupId" v-for="(item,index) in fasterDeployInfo.hostGroups">{{item.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row" v-if="fasterDeployInfo.asDeployType == '2002'">
                            <label class="col-sm-2 col-form-label">主机</label>
                            <div class="col-sm-10">
                                <select class="custom-select" v-model="fasterDeployInfo.hostId">
                                    <option selected disabled value="">必填，请选择主机</option>
                                    <option :value="item.hostId" v-for="(item,index) in fasterDeployInfo.hosts">{{item.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">项目包</label>
                            <div class="col-sm-10">
                                <vc:create path="admin/uploadFile" callBackListener="fasterDeploy" callBackFunction="fileName" namespace="fasterDeploy">
                                </vc:create>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">启动脚本</label>
                            <div class="col-sm-10">
                                <textarea v-model="fasterDeployInfo.shellPackageId" rows="5" placeholder="必填，请填写启动脚本" class="form-control"></textarea>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-12 text-right">
        <button class="btn btn-primary float-right" type="button" v-on:click="saveFasterDeployInfo()"><i class="fa fa-check"></i>&nbsp;保存</button>
        <button type="button" class="btn btn-warning float-right" style="margin-right:20px;" @click="_goBack()">取消</button>
    </div>
</div>