<div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>查询条件</h5>
                    <div class="ibox-tools" style="top:10px;">
                        <!-- <button type="button" class="btn btn-link btn-sm" style="margin-right:10px;" v-on:click="_moreCondition()">{{myAppPoolManageInfo.moreCondition ==
                            true?'隐藏':'更多'}}</button> -->
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <select class="custom-select" v-model="myAppPoolManageInfo.conditions.publisherId">
                                    <option :value="item.publisherId" v-for="(item,index) in myAppPoolManageInfo.appPublishers">{{item.username}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" placeholder="请输入名称" v-model="myAppPoolManageInfo.conditions.name" class=" form-control">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <select class="custom-select" v-model="myAppPoolManageInfo.conditions.state">
                                    <option selected value="" >请选择状态</option>
                                    <option value="001" >正常</option>
                                    <option value="002" >待审核</option>
                                    <option value="003" >审核失败</option>
                                    <option value="004" >下架</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="btn btn-primary btn-sm" v-on:click="_queryBusinessImagesMethod()">
                                <i class="glyphicon glyphicon-search"></i> 查询
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4" v-if="myAppPoolManageInfo.moreCondition == true">
                            <div class="form-group">
                                <input type="text" placeholder="请输入imagesFlag" v-model="myAppPoolManageInfo.conditions.imagesFlag" class=" form-control">
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>我的发布</h5>
                    <div class="ibox-tools" style="top:10px;">
                        <button type="button" class="btn btn-white btn-sm" v-on:click="_goBack()">
                            返回
                        </button>
                        <button type="button" class="btn btn-primary btn-sm" v-on:click="_publishSoft()">
                            发布
                        </button>
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                        <thead>
                            <tr>
                                <!-- <th class="text-center">编号</th> -->
                                <th class="text-center">软件名称</th>
                                <th class="text-center">版本</th>
                                <th class="text-center">发布者</th>
                                <th class="text-center">联系方式</th>
                                <th class="text-center">发布时间</th>
                                <th class="text-center">状态</th>
                                <th class="text-center">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="businessImages in myAppPoolManageInfo.businessImagess">
                                <!-- <td class="text-center">{{businessImages.id}}</td> -->
                                <td class="text-center">{{businessImages.name}}</td>
                                <td class="text-center">{{businessImages.version}}</td>
                                <td class="text-center">{{businessImages.username}}</td>
                                <td class="text-center">{{businessImages.email}}</td>
                                <td class="text-center">{{businessImages.createTime}}</td>
                                <td class="text-center">{{getState(businessImages)}}</td>
                                <td class="text-center">
                                    <div class="btn-group" v-if="businessImages.state == '001'">
                                        <button class="btn-white btn btn-xs" v-on:click="_uninstallModel(businessImages)">下架</button>
                                    </div>
                                </td>

                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7">
                                    <ul class="pagination float-right"></ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <!-- 分页 -->
                    <vc:create path="frame/pagination"></vc:create>
                </div>
            </div>
        </div>
    </div>
    <vc:create path="admin/viewPoolsImages"></vc:create>
</div>