<div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>查询条件</h5>
                    <div class="ibox-tools" style="top:10px;">

                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" placeholder="请输入名称"
                                    v-model="logTraceInfo.conditions.name" class=" form-control">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <select class="custom-select" v-model="logTraceInfo.conditions.state">
                                <option selected value="">请选择状态</option>
                                <option value="3301">运行中</option>
                                <option value="3302">停止</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <select class="custom-select" v-model="logTraceInfo.conditions.noticeType">
                                <option selected value="">请选择告警类型</option>
                                <option value="1001">短信</option>
                                <option value="2002">钉钉</option>
                            </select>
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="btn btn-primary btn-sm"
                                v-on:click="_queryMonitorHostGroupMethod()">
                                <i class="glyphicon glyphicon-search"></i> 查询
                            </button>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>调用链</h5>
                    <div class="ibox-tools" style="top:10px;">
                       
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                        <thead>
                            <tr>
                                
                                <th class="text-center">事件对象</th>
                                <th class="text-center" width="60%">事件内容</th>
                                <th class="text-center">告警方式</th>
                                <th class="text-center">事件时间</th>
                                <!-- <th class="text-center">状态</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="event in logTraceInfo.monitorEvents">
                                
                                <td class="text-center">{{event.eventObjName}}</td>
                                <td class="text-center">{{event.remark}}</td>
                                <td class="text-center">{{event.noticeTypeName}}</td>
                                <td class="text-center">{{event.createTime}}</td>
                                <!-- <td class="text-center">{{event.stateName}}</td> -->

                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7">
                                    <ul class="pagination float-right"></ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <!-- 分页 -->
                    <vc:create path="frame/pagination"></vc:create>
                </div>
            </div>
        </div>
    </div>

</div>