<div id="editHostModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <h3 class="m-t-none m-b ">修改主机</h3>
        <div class="ibox-content">
          <div>
            <div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">主机组</label>
                <div class="col-sm-10">
                  <select class="custom-select" v-model="editHostInfo.groupId">
                    <option selected disabled value="">必填，请选择主机组</option>
                    <option v-for="(item,index) in editHostInfo.hostGroups" :value="item.groupId">{{item.name}}</option>
                   
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">主机名称</label>
                <div class="col-sm-10">
                  <input v-model="editHostInfo.name" type="text" placeholder="必填，请填写主机名称" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">主机IP</label>
                <div class="col-sm-10">
                  <input v-model="editHostInfo.ip" type="text" placeholder="必填，请填写主机IP" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">用户名</label>
                <div class="col-sm-10">
                  <input v-model="editHostInfo.username" type="text" placeholder="必填，请填写用户名" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">密码</label>
                <div class="col-sm-10">
                  <input v-model="editHostInfo.passwd" type="password" placeholder="必填，请填写密码" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">CPU核数</label>
                <div class="col-sm-10">
                  <input v-model="editHostInfo.cpu" type="text" placeholder="必填，请填写CPU核数" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">内存</label>
                <div class="col-sm-10">
                  <input v-model="editHostInfo.mem" type="text" placeholder="必填，请填写内存" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">磁盘大小</label>
                <div class="col-sm-10">
                  <input v-model="editHostInfo.disk" type="text" placeholder="必填，请填写磁盘大小" class="form-control">
                </div>
              </div>

              <div class="ibox-content">
                <button class="btn btn-primary float-right" type="button" v-on:click="editHost()"><i
                    class="fa fa-check"></i>&nbsp;保存</button>
                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;"
                  data-dismiss="modal">取消</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>